<%= image_tag @puzzle.file_name, width: @puzzle.width, height: @puzzle.height, id: @puzzle.cssid, class: 'waldoImage fitted' %>

<div class='sidebar'>
  <% @puzzle.characters.each do |character| %>
    <button data-char='<%=character.name%>'><p><%=character.name%></p><%= image_tag "#{character.name.downcase}_face.png", class: 'face_button'%></button><br>
  <%end%>
</div>
